* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
  background-color: hsl(203, 41%, 72%);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.fondo {
  background-color: white;
  max-width: 70rem;
  width: auto;
    height: max-content;
  margin: 5rem auto;  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 5rem;

}
.cuadros {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 40rem;
  height: max-content;
    margin: 5rem auto;
}
.placeholder-resultados {display: flex;
    padding: 1rem;
  background-color: hsl(202, 55%, 16%);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 5rem;
}
.data-enter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.tipeCurrency {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    background-color: lightblue;

}
.tipeCurrency select {
    text-align: center;
    border: none;
}
.data-enter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
    letter-spacing: 1px;
    word-wrap: break-word;
    text-wrap: wrap;
}
#clean{
    text-decoration: none;
}
#clean:hover {
transform: scale(1.1);
    text-decoration: underline;}
.data-enter-title a {
  color: rgba(128, 128, 128, 0.9);
}
.data-enter-title h2 {
    font-size: 14px;
    margin-bottom: 1rem;
}
.data-enter-amount {
  display: flex;
  flex-direction: column;
}
.data-enter-amount  label {
  padding-bottom: 1rem;
    font-size: 1.2rem;
}
.data-enter-amount input {
    outline: none;
font-weight: bold;
    width: 100%;
    padding: .6rem;
    border: none;
    background-color: transparent;
}


label {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.recorte {
    display: flex;
    align-items: center;
    height: max-content;
    box-shadow: 0 1px 1px 1px rgba(34, 34, 34, 0.47);
    justify-content: space-between;
    border-radius: .5rem;
}
.recorte p:first-child {
border-radius: .5rem  0  0;
    font-size: 1.5rem;
}
.recorte p {
    padding: 1rem;
    background-color: #9cc2dc;
    font-weight: bold;
    font-size: 1.2rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    letter-spacing: 1px;
    height: 100%;
}
.recorte input:focus {
    background-color: rgba(255, 217, 7, 0.25);
    height: 100%;
}

.data-terms {
  display: flex;
  flex-wrap: wrap;
    padding-top: .5rem;
  gap: 1rem;
}
.data-terms .plazo,.interes {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
}
.plazo input {
    width: 100%;
}
.interes input {
    width: 100%;
}
.data-terms label {
    padding-bottom: 1rem;
}
 .data-terms input {
    width: 100%;
    padding: .5rem;
    border: none;
    background-color: transparent;
     outline: none;
}
.data-enter-type {
  display: flex;
  flex-direction: column;
  width: auto;
    margin-top: 1rem;
  gap: 1rem;
  padding: 1rem;
background-color: rgba(34, 34, 34, 0.15);
border-radius: 1rem;
}
.data-enter-type p {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 1px;
}
.repayment,
.intonly {
    display: flex;
    padding: .5rem;
    text-wrap: wrap;    gap: 1rem;
    font-weight: bold;
    box-shadow: 0 1px 1px 1px #222222;
    background-color: #eeee;
    border-radius: .5rem;
    cursor: pointer;}
.data-enter-type label {
    margin-top: 1rem;
}
.repayment input {
    flex: 0 0 10px;
}
.button {
  display: flex;
  background-color: #ffd907;
    width: 50%;
  justify-content: center;
  padding: .5rem;
  border-radius: .5rem;
    align-self: center;
    transition: all ease 0.3s;
    border-right: 3px solid #ffd907;
    border-left: 3px solid #ffd907;
}
.button button {
  padding: .5rem;
  border: none;
  background:  transparent;
  cursor: pointer;
  font-weight: bold;
    width: 100%;
}
.button:hover {
    transition: all ease 0.3s;
    width: 100%;
    background-color: rgba(255, 217, 7, 0.7);
    border-right: 3px solid #222;
    border-left: 3px solid #222;

}
.button:active {
    transform: scale(0.95);
    box-shadow: 0 1px 1px 1px #222222;
 }
.placeholder-resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem
  ;text-align: center;
}
.placeholder-resultados-img img {
  width: 200px;
}
.placeholder-resultados h2 {
  font-size: 13px;
  color: white;
}
.placeholder-resultados p {
  margin-top: 1rem;
  color: rgba(231, 224, 224, 0.624);
}
/*MEDIA QUERIES*/
@media (min-width:15rem) and (max-width:40rem)  {
    /*Elegir elemtos desde n hasta m*/
    label:nth-child(n+0):nth-child(-n+1) {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        width: 90%;
        margin: auto;
        color: #222;
        border-top: 1px solid grey;
    }
    input {
        font-weight: bold;
        font-size: 2rem;
    }

    .fondo {
    margin: 1rem auto;
    width: 95%;
    height: max-content;
    border-radius: .5rem;
}
  .cuadros {
    grid-template-columns: 1fr;
    padding: 1rem;
      width: 95%;
      margin: auto;
  }
  .fondo,.cuadros {
      height: max-content;
  }
  .placeholder-resultados {
      order: -1;
      padding: 2rem;
      height: max-content;
      border-radius: 1rem;

  }
    .placeholder-resultados-img {

        padding: 2rem 0;
        border-radius: 1rem;
    }
    .placeholder-resultados img{
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
    .data-terms {
        flex-direction: column;
    }
    .data-enter {
        margin-top: 5rem;
        border-radius: unset;
        gap: 1rem;
        justify-content: space-between;

    }
    .button {
        justify-content: center;
        width: 100%;
        padding: 1.5rem;
        border-radius: 5rem;
        box-shadow: unset;
    }
    .button:hover {
        background-color: #ffd907;
        border: 1px solid #ffd907;
    }
    button {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;

    }
    .recorte {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        box-shadow: unset;
        background-color: rgba(231, 224, 224, 0.624);
    }
    .recorte input:focus {
        background-color: beige;
    }
    .recorte p {
        padding: 2rem;
        align-content: center;
        height: 100%;
        font-size: 1.3rem;
    }
    .data-enter-title {
        all: unset;
        display: flex;
        text-align: center;
        border-radius: .5rem;
        background-color: rgba(34, 34, 34, 0.34);
        padding: 1.5rem;
        font-size: 1.4rem !important;
        margin-top: -4rem;
    }
    .data-enter-title h2 {
        text-align: center;
        width: 100%;
        font-size: 1.8rem;
    }
    #clean{
        display: none ;
    }
    .congrats {
      display: none !important;
    }


.data-enter-type{
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.data-enter-type label {
    font-size: 1.5rem;
}

.data-enter-type input {
padding: 1rem;
}
.data-enter-type p {
    display: none
;
}
.repayment,
    .intonly {
    flex: 1 1;
    flex-direction: row;
    justify-content: center;
     box-shadow: 0 2px 1px 1px #222;
    align-self: center;
    padding: 2rem;
    }

}

.congrats {
    display: flex;
    justify-content: space-around;
    width: max-content;
    margin: auto;
    padding: 1rem;

    font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
}
.congrats a {
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
}
.congrats a:hover {
    text-decoration: underline;
}
/* Mostrar resultados */

.jose {
    display: flex;
    justify-content: start;
    gap: 1.2rem;
}
.resultitle {
    font-size: 1.5rem;
color: white;
    margin-top: -5rem;
}

.infotext {
    font-size: 1.2rem !important;
}
.resulblock {
    display: flex;
    flex-direction: column;
    border-top: 3px solid yellow;
    background-color: rgba(34, 34, 34, 0.45);
    border-radius: .5rem;
    width: 95%;
    height: max-content;
}
.resulblock-info-text1 {
font-size: 1rem;
    text-transform: capitalize;
}
.resulblock-info-text2{

}
.monthly {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: gold !important;
    font-size:3.5rem !important;
    padding-bottom: 2rem;
    border-bottom: 1px solid grey;
    min-width: 90%;
    width: max-content;
    overflow: auto;
    margin: 1rem auto;

}
.total-monthly {
    color: white !important;
    padding: 1rem;
    min-width: 95%;
    max-width: max-content;
    border-radius: .5rem;
    margin: 1rem auto;
    font-size: 1.7rem;
}